{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel_image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
</head>

<body>
<div class="container">
 <div class="py-3">
  <h1 class="text-center display-4" style="color:white; text-shadow: 2px 4px 10px red"> UPLOAD IMAGES </h1>
  <hr class="text-center w-40 border-dark">
 </div>

    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit", class="btn btn-primary">Upload</button>
    </form>
<hr class="text-center w-40 border-dark">
</div>


</body>
</html>
